In [1]:
import pandas as pd
import numpy as np
import ydata_profiling as yp

#yp.ProfileReport(df)

In [22]:
data = pd.read_csv("~/Downloads/data-analytics-projects/world population project/world_population_data.csv", encoding='utf-8')

In [23]:
data.tail()

,Unnamed: 0,rank,cca3,country,continent,2023 population,2022 population,2020 population,2015 population,2010 population,2000 population,1990 population,1980 population,1970 population,area (km²),density (km²),growth rate,world percentage
229,229,230,MSR,Montserrat,North America,4386,4390,4500,5059,4938,5138,10805,11452,11402,102.00,43,-0.09%,0.00%
230,230,231,FLK,Falkland Islands,South America,3791,3780,3747,3408,3187,3080,2332,2240,2274,12173.00,0,0.29%,0.00%
231,231,232,NIU,Niue,Oceania,1935,1934,1942,1847,1812,2074,2533,3637,5185,261.00,7,0.05%,0.00%
232,232,233,TKL,Tokelau,Oceania,1893,1871,1827,1454,1367,1666,1669,1647,1714,12.00,189,1.18%,0.00%
233,233,234,VAT,Vatican City,Europe,518,510,520,564,596,651,700,733,752,0.44,1177,1.57%,0.00%

In [27]:
data.iloc[180]

rank                    181
cca3                    MYT
country             Mayotte
continent            Africa
2023 population      335995
2022 population      326101
2020 population      305587
2015 population      249545
2010 population      211786
2000 population      159215
1990 population       92659
1980 population       52233
1970 population       35383
area (km²)            374.0
density (km²)           898
growth rate           3.03%
world percentage      0.00%
Name: 180, dtype: object

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              234 non-null    int64
 1   cca3              234 non-null    object
 2   country           234 non-null    object
 3   continent         234 non-null    object
 4   2023 population   234 non-null    int64
 5   2022 population   234 non-null    int64
 6   2020 population   234 non-null    int64
 7   2015 population   234 non-null    int64
 8   2010 population   234 non-null    int64
 9   2000 population   234 non-null    int64
 10  1990 population   234 non-null    int64
 11  1980 population   234 non-null    int64
 12  1970 population   234 non-null    int64
 13  area (km²)        234 non-null    float64
 14  density (km²)     234 non-null    int64
 15  growth rate       234 non-null    object
 16  world percentage  234 non-null    object
dtypes: float64(1), int64(11), object(5)
memory usage: 31.2+ KB

In [25]:
data = data.drop('Unnamed: 0', axis = 1)

In [26]:
data.to_csv("~/Downloads/data-analytics-projects/world population project/world_population_data.csv", index=False)

In [ ]:
df = pd.read_csv('your_file.csv', encoding='utf-8')