In [1]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv('~/Desktop/Data Analyst Work Sample  Assessment - Data.csv')

data.head()

,Reference Id,Name,Off-time Status,Off-time Duration (Days),Requester Name,Requester Department,Requester Eid,Requesting Date Time,Service Department,Service Unit,...,Workflow Status,Date Time Picked,Resolved By,Task Owner Department,Created,SROfftime Status,Smiley Sent,Final Rating,Year,Request Picked
0,RSSRP-17248,Service Request - 2022-02-28T11_45_25.xml,On-Time,0.0,Mohammad Shahnawaz Alam,Facilities,701000244,2/28/22 11:46,Procurement Management,PMG: Purchasing & Supply,...,Survey Completed,2/28/22 13:09,Ebenezer Israel,Procurement Management,2/28/22 11:46,NaN,No,Excellent,2022,1
1,RSSRP-17249,Service Request - 2022-02-28T11_46_26.xml,On-Time,0.0,Mohammad Shahnawaz Alam,Facilities,701000244,2/28/22 11:47,Procurement Management,PMG: Purchasing & Supply,...,Survey Completed,2/28/22 13:09,Ebenezer Israel,Procurement Management,2/28/22 11:47,NaN,No,Excellent,2022,1
2,RSSRP-17250,Service Request - 2022-02-28T11_47_27.xml,On-Time,0.0,Mohammad Shahnawaz Alam,Facilities,701000244,2/28/22 11:48,Procurement Management,PMG: Purchasing & Supply,...,Survey Completed,2/28/22 13:09,Ebenezer Israel,Procurement Management,2/28/22 11:48,NaN,No,Excellent,2022,1
3,RSSRP-17252,Service Request - 2022-03-01T13_47_14.xml,On-Time,0.0,Ugochukwu Afulike,Subsea,803000065,3/1/22 13:48,Procurement Management,PMG: Reports,...,Survey Completed,3/3/22 12:48,Ebenezer Israel,Procurement Management,3/1/22 13:48,NaN,No,Excellent,2022,1
4,RSSRP-17253,Service Request - 2022-03-02T12_52_12.xml,On-Time,0.0,John Lawal,Commercials,701000248,3/2/22 12:52,Topsides,TSD: Topsides Division - Project Planning,...,Survey Completed,3/4/22 11:55,David Eyen Utibe,Topsides,3/2/22 12:52,NaN,No,Good,2022,1

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3537 entries, 0 to 3536
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Reference Id              3537 non-null   object
 1   Name                      3537 non-null   object
 2   Off-time Status           3537 non-null   object
 3   Off-time Duration (Days)  3537 non-null   float64
 4   Requester Name            3536 non-null   object
 5   Requester Department      3536 non-null   object
 6   Requester Eid             3536 non-null   object
 7   Requesting Date Time      3537 non-null   object
 8   Service Department        3537 non-null   object
 9   Service Unit              3537 non-null   object
 10  SLA Hours                 3537 non-null   int64
 11  Picked By                 3523 non-null   object
 12  Workflow Status           3537 non-null   object
 13  Date Time Picked          3525 non-null   object
 14  Resolved By               3518 non-null   object
 15  Task Owner Department     3534 non-null   object
 16  Created                   3537 non-null   object
 17  SROfftime Status          228 non-null    object
 18  Smiley Sent               3484 non-null   object
 19  Final Rating              3500 non-null   object
 20  Year                      3537 non-null   int64
 21  Request Picked            3537 non-null   int64
dtypes: float64(1), int64(3), object(18)
memory usage: 608.0+ KB

In [15]:
data.isnull().any()

Reference Id                False
Name                        False
Off-time Status             False
Off-time Duration (Days)    False
Requester Name               True
Requester Department         True
Requester Eid                True
Requesting Date Time        False
Service Department          False
Service Unit                False
SLA Hours                   False
Picked By                    True
Workflow Status             False
Date Time Picked             True
Resolved By                  True
Task Owner Department        True
Created                     False
SROfftime Status             True
Smiley Sent                  True
Final Rating                 True
Year                        False
Request Picked              False
dtype: bool

In [16]:
data.isnull().sum()

Reference Id                   0
Name                           0
Off-time Status                0
Off-time Duration (Days)       0
Requester Name                 1
Requester Department           1
Requester Eid                  1
Requesting Date Time           0
Service Department             0
Service Unit                   0
SLA Hours                      0
Picked By                     14
Workflow Status                0
Date Time Picked              12
Resolved By                   19
Task Owner Department          3
Created                        0
SROfftime Status            3309
Smiley Sent                   53
Final Rating                  37
Year                           0
Request Picked                 0
dtype: int64

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3537 entries, 0 to 3536
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Reference Id              3537 non-null   object
 1   Name                      3537 non-null   object
 2   Off-time Status           3537 non-null   object
 3   Off-time Duration (Days)  3537 non-null   float64
 4   Requester Name            3536 non-null   object
 5   Requester Department      3536 non-null   object
 6   Requester Eid             3536 non-null   object
 7   Requesting Date Time      3537 non-null   object
 8   Service Department        3537 non-null   object
 9   Service Unit              3537 non-null   object
 10  SLA Hours                 3537 non-null   int64
 11  Picked By                 3523 non-null   object
 12  Workflow Status           3537 non-null   object
 13  Date Time Picked          3525 non-null   object
 14  Resolved By               3518 non-null   object
 15  Task Owner Department     3534 non-null   object
 16  Created                   3537 non-null   object
 17  SROfftime Status          228 non-null    object
 18  Smiley Sent               3484 non-null   object
 19  Final Rating              3500 non-null   object
 20  Year                      3537 non-null   int64
 21  Request Picked            3537 non-null   int64
dtypes: float64(1), int64(3), object(18)
memory usage: 608.0+ KB

* drop SROfftime Status, drop smiley sent, drop other missing values.

In [20]:
data.drop(['SROfftime Status', 'Smiley Sent'], axis=1, inplace=True )

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3537 entries, 0 to 3536
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Reference Id              3537 non-null   object
 1   Name                      3537 non-null   object
 2   Off-time Status           3537 non-null   object
 3   Off-time Duration (Days)  3537 non-null   float64
 4   Requester Name            3536 non-null   object
 5   Requester Department      3536 non-null   object
 6   Requester Eid             3536 non-null   object
 7   Requesting Date Time      3537 non-null   object
 8   Service Department        3537 non-null   object
 9   Service Unit              3537 non-null   object
 10  SLA Hours                 3537 non-null   int64
 11  Picked By                 3523 non-null   object
 12  Workflow Status           3537 non-null   object
 13  Date Time Picked          3525 non-null   object
 14  Resolved By               3518 non-null   object
 15  Task Owner Department     3534 non-null   object
 16  Created                   3537 non-null   object
 17  Final Rating              3500 non-null   object
 18  Year                      3537 non-null   int64
 19  Request Picked            3537 non-null   int64
dtypes: float64(1), int64(3), object(16)
memory usage: 552.8+ KB

In [25]:
data.dropna(axis=0, how="any", inplace=True)

In [27]:
data.dropna(inplace=True)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3498 entries, 0 to 3535
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Reference Id              3498 non-null   object
 1   Name                      3498 non-null   object
 2   Off-time Status           3498 non-null   object
 3   Off-time Duration (Days)  3498 non-null   float64
 4   Requester Name            3498 non-null   object
 5   Requester Department      3498 non-null   object
 6   Requester Eid             3498 non-null   object
 7   Requesting Date Time      3498 non-null   object
 8   Service Department        3498 non-null   object
 9   Service Unit              3498 non-null   object
 10  SLA Hours                 3498 non-null   int64
 11  Picked By                 3498 non-null   object
 12  Workflow Status           3498 non-null   object
 13  Date Time Picked          3498 non-null   object
 14  Resolved By               3498 non-null   object
 15  Task Owner Department     3498 non-null   object
 16  Created                   3498 non-null   object
 17  Final Rating              3498 non-null   object
 18  Year                      3498 non-null   int64
 19  Request Picked            3498 non-null   int64
dtypes: float64(1), int64(3), object(16)
memory usage: 573.9+ KB

datetime datatype= requesting date time,  Date Time Picked, Created

In [30]:
data['Requesting Date Time'] = pd.to_datetime(data['Requesting Date Time'])
data['Date Time Picked'] = pd.to_datetime(data['Date Time Picked'])
data['Created'] = pd.to_datetime(data['Created'])

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3498 entries, 0 to 3535
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Reference Id              3498 non-null   object
 1   Name                      3498 non-null   object
 2   Off-time Status           3498 non-null   object
 3   Off-time Duration (Days)  3498 non-null   float64
 4   Requester Name            3498 non-null   object
 5   Requester Department      3498 non-null   object
 6   Requester Eid             3498 non-null   object
 7   Requesting Date Time      3498 non-null   datetime64[ns]
 8   Service Department        3498 non-null   object
 9   Service Unit              3498 non-null   object
 10  SLA Hours                 3498 non-null   int64
 11  Picked By                 3498 non-null   object
 12  Workflow Status           3498 non-null   object
 13  Date Time Picked          3498 non-null   datetime64[ns]
 14  Resolved By               3498 non-null   object
 15  Task Owner Department     3498 non-null   object
 16  Created                   3498 non-null   datetime64[ns]
 17  Final Rating              3498 non-null   object
 18  Year                      3498 non-null   int64
 19  Request Picked            3498 non-null   int64
dtypes: datetime64[ns](3), float64(1), int64(3), object(13)
memory usage: 573.9+ KB

In [33]:
data.to_csv('~/Desktop/data_assessment_cleaned.csv', index=False)